.color-swatch {
  width: 36px;
  height: 14px;
  border-radius: 2px;
  display: inline-block;
}

.color-swatch-select {
  width: 14px;
  height: 14px;
  border-radius: 2px;
  margin-right: 3px;
  margin-bottom: -2px;
  display: inline-block;
}

.boat-class-select-item {
  margin-bottom: 2px;
}
