.boat-page {
  .filter-by-class-label {
    width: 110px;
    padding-top: 6px;
  }
}

.page-top-nav {
  position: relative;

  .search-input {
    position: absolute;
    right: 0;
    margin-right: 150px;
    top: -2px;

    .form-control-feedback {
      top: 10px;
    }
  }
}

.boat-card-group {

  .boat-card {
    .footer-btn-group {
      margin-bottom: 10px;
    }
  }
}

.upload-image-item {
  .close {
    float: none;
    margin-right: 7px;
  }
}
