.user-billing-address-group {
    padding-top: 15px;
    border-top: 1px solid #ccc;
    margin-top: 15px;
}


// Billing Address in popup
.billing-address-title {
  font-weight: normal;
  font-size: 1.3em;
  border-bottom: 1px solid #ddd;
}

.billing-address-content {
  margin-left: 20px;
}
