<% if @status == :ok %>
    <center style="margin-top: 50px">You have joined the group. <a href="/dashboard">Click here</a> to go to dashboard</center>
<% else %>
    <center style="margin-top: 50px">You are not invited to this group!</center>
<% end %>