<div style="text-align: center">
  <%= email_image_header %>
</div>
<h4>Hi Jim</h4>
<p><strong><%= @user.full_name %></strong> has just requested deposit return. Can you please review?</p>
<p>You can do at <%= admin_seasons_url %></p>

<p>From The Team at <%=Setting.site_name%></p>